
/*-- scss:defaults --*/
// HSG Brand Colors

// Greens
$hsg-gruen: #00802f;      // HSG-Grün
$hsg-dunkelgruen: #0a5f2d; // HSG-Dunkelgrün

// Neutral / Accent
$hsg-beige: #e1d7c3;      // HSG-Beige
$hsg-blau: #73a5af;       // HSG-Blau
$hsg-korall: #eb6969;     // HSG-Korall
$hsg-gelb: #fff04b;  // HSG-Gelb

/*-- scss:rules --*/

/*-- general formatting --*/
$navbar-bg: #e1d7c3; 

h1 {
  color: #0a5f2d !important;  // Replace with your desired color
}

a {
  color: $hsg-beige !important;
  &:hover {
    color: $hsg-gruen !important;
  }
}

