/*-- scss:defaults --*/

// Greens
$hsg-gruen: #00802f;      // HSG-Grün
$hsg-dunkelgruen: #0a5f2d; // HSG-Dunkelgrün

// Neutral / Accent
$hsg-beige: #e1d7c3;      // HSG-Beige
$hsg-blau: #73a5af;       // HSG-Blau
$hsg-korall: #eb6969;     // HSG-Korall
$hsg-gelb: #fff04b;  // HSG-Gelb

/*-- scss:rules --*/

.reveal quarto-title-block {
  background-color: #004080 !important; /* navy blue */
  color: white; /* optional: change text color for contrast */
}

.reveal h1 {
  color: $hsg-beige;
}


.reveal h2 {
  color: $hsg-beige;
}

// progress bar and thingamacic 
.reveal .progress {
  color: $hsg-gruen;
  height: 0.5%;
}

.reveal i {
  color: $hsg-gruen;
}

.reveal fa-bars {
  color: red;
}