/*-- scss:defaults --*/

// Greens
$hsg-gruen: #00802f;      // HSG-Grün
$hsg-dunkelgruen: #0a5f2d; // HSG-Dunkelgrün

// Neutral / Accent
$hsg-beige: #e1d7c3;      // HSG-Beige
$hsg-blau: #73a5af;       // HSG-Blau
$hsg-korall: #eb6969;     // HSG-Korall
$hsg-gelb: #fff04b;  // HSG-Gelb



/*-- scss:rules --*/
h1 {
  color: $hsg-gruen;
}

h2, h3 {
  color: $hsg-dunkelgruen;
}

a {
  color: $hsg-blau;
}